<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Student Data Analysis</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
  <nav class="navbar navbar-dark">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">STUDENT DATA ANALYSIS
        </a>
      </div>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="navbar-brand" href="/visualizations">VISUALIZATIONS</a>
        </li>
        
      </ul>
      <span class="navbar-text">
        <a class="navbar-brand" href="/model">PREDICTION MODEL</a>
      </span>
      <span class="navbar-text">
        <a class="navbar-brand" href="/summary">SUMMARY</a>
      </span>
    </div>
  </nav>
  
  <div class="wrapper">
    <div class="container">
      <div class="row margin-top-50">
        <div class="col-md-4">
          
          <aside class="filters">
            
            <div class="panel panel-default">
              <div class="panel-heading" style="color:white;height:50px;text-align:center;">Prediction Analysis</div>
              
              
              <div class="panel-body">

                <form action="/predict" method="POST">
                  <div class="form-group">
                    <ul class="list-group" id="filters">

                      <li class="filter list-group-item">
                        <label for="absences">Enter Freetime</label>
                        <input class="form-control" id="freetime" type="number" placeholder="0" min="0" max="93">
                      </li>
                      <li class="filter list-group-item">
                        <label for="age">Enter age</label>
                        <select class="form-control" id="age">
                          <option>15</option>
                          <option>16</option>
                          <option>17</option>
                          <option>18</option>
                          <option>19</option>
                          <option>20</option>
                          <option>21</option>
                          <option>22</option>
                        </select>
                      </li>
                      <li class="filter list-group-item">
                        <label for="health">Enter Health Status<br> (1-very bad to 5-very good)</label>
                        <select class="form-control" id="health">
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                        </select>
                      </li>
                      <li class="filter list-group-item">
                        <label for="Walc">Enter Weekend Alcohol Consumption<br> (1-very low to 5-very high)</label>
                        <select class="form-control" id="Walc">
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                        </select>
                      </li>
                      <li class="filter list-group-item">
                        <label for="goout">Enter the outing<br> (1-very low to 5-very high)</label>
                        <select class="form-control" id="goout">
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                        </select>
                      </li>
                    </ul>
                  </div>
                  <button type="button" class="btn btn-default" style="color:white">Cal Avg Grade</button>
                  <!-- <input class="form-control" id="city" type="text" placeholder=""> -->
                  
                </form>
              </div>
            </div>
            
            
          </aside>
          
        </div>
        <div class="col-md-8">
          <div class="container" style="margin: auto; width: 60%; padding: 30px;">
            <div id="prediction">
              <div id="gauge"></div>
            </div>
            <div id="recommendation"></div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <!-- <footer class="footer">
    <span class="bottom">&copy; Copyright 2020</span>
  </footer> -->

  <script src="https://d3js.org/d3.v6.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js" charset="utf-8"></script>

  <script src="../static/js/app.js"></script>
</body>

</html>